body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
  overflow: hidden;
}

.container {
  margin-top: 100px;
}

h1 {
  color: #2196F3 ;
}

#target {
  font-size: 36px;
  margin: 20px 0;
  padding: 10px;
  border: 2px solid #2196F3 ;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  animation: fall 5s linear infinite;
}

#feedback {
  font-size: 24px;
  color: #777;
}

@keyframes fall {
  0% { top: -100px; }
  100% { top: 100%; }
}
